**/*
!.gitignore
!nvim
nvim/*
!nvim/init.vim
!nvim/table.vim
!nvim/chrysline.vim
!nvim/wik.vim
!nvim/autoload
!nvim/autoload/plug.vim
!mpv
!mpv/input.conf
!mpv/mpv.conf
!ranger
!ranger/rc.conf
!tmux
!tmux/tmux.conf
!tmux/status.sh
